.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    height: 45px;
    border-radius: 10px;
    background-color: #93b1b8;
}

.button{
    background-color:#b2c1cd;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 60px;
    border-radius: 7px;
    border: 0px;
    width: 10%;

}