.container{
    background-color: rgba(248, 240, 219, 0.842);
    padding: 2%;
    margin: 5%;
    border-radius: 5%;
    width:fit-content;
    break-inside:avoid;
}
.titulo{
    font-size: larger;
    color: rgb(31, 29, 30);
    text-align:center;
}
.buttonf{
    margin-left: 16%;
    position: absolute;
}

.buttonc{
    display: flex;
    justify-content: center;
    position: absolute;
}