.container{
    margin: 2.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.filter{
    background-color: #93b1b8;
    margin-top: 0.5%;
    color: #edeae3;
}

.order{
    background-color: #93b1b8;
    margin-top: 0.5%;
    margin-left: 42.5%;
    color: #edeae3;

}